<!DOCTYPE html>
<mat-card>
    <mat-card-content>  
        <form style="font-size: 12px">
            <h1>Update Profile</h1>
            <mat-form-field class="user">
                <span>Username</span>
                <input matInput type="text" name="username" [(ngModel)]="userData.Username">
            </mat-form-field>
            <mat-form-field class="pwd">
                <span>Password</span>
                <input matInput type="password" name="password" required [(ngModel)]="userData.Password">
            </mat-form-field>
            <mat-form-field class="mail">
                <span>Email</span>
                <input matInput type="email" name="email"v [(ngModel)]="userData.Email">
            </mat-form-field>
            <mat-form-field class="bdy">
                <span>Birthday</span><br>
                <input matInput type="date" name="birth_date" [(ngModel)]="userData.Birthday">
            </mat-form-field>
            <mat-card-actions class="action-btn">
                <button class="update-btn" mat-raised-button color="primary" (click)="updateUser()">
                    Update Profile
                </button>
                <span class="spacer"></span>
                <button class="delete-icon" mat-flat-button color="warn" (click)="deleteUser()" style="float: right;">
                    Delete Profile
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>