.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cheater {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}