<!DOCTYPE html>
<div class="movie-page">
    <button 
        mat-flat-button 
        (click)="viewProfile(user.Username, user.Email, user.Birthday)"
        color="basic"
    >
        Profile
    </button>
    <button 
        mat-flat-button 
        (click)="logout()"
        color="basic"
    >
        Logout
    </button>
    <div class="movie-view" style="display: flex;">
        <mat-card *ngFor= "let movie of movies;" style="flex: 1 1 auto;"> 
            <mat-toolbar-row>
                <span>{{ movie.Title }}</span>
                <span class="spacer"></span> 
                <button 
                    mat-icon-button
                    aria-label="Example icon-button with heart icon"
                    [ngClass]="isFavoriteMovie(movie._id) ? 'mat-icon-button' : 'mat-icon-button'"
                    (click)="isFavoriteMovie(movie._id) ? removeFavoriteMovie(movie._id) : addToFavorites(movie._id)"
                    [color]="isFavoriteMovie(movie._id) ? 'accent' : 'warn'">
                    <mat-icon>{{ isFavoriteMovie(movie._id) ? 'favorite' : 'favorite_border' }}</mat-icon>
                </button>    
            </mat-toolbar-row>
            <img src={{movie.ImagePath}} alt="{{ movie.Title }}"/>
            <mat-card-actions>
                <button 
                    mat-flat-button 
                    (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
                    color="basic"
                >
                    Genre
                </button>
                <button 
                    mat-flat-button
                    (click)="openDirector(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
                    color="basic"
                >
                    Director
                </button>
                <button 
                    mat-flat-button
                    color="basic"
                    (click)="openSynopsis(movie.Title, movie.Description)">
                        Synopsis
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>