<!DOCTYPE html>
<div class="profile-page">
    <div class="profile-container">
        <div class="info-container ">
            <div class="info">
                <h1>Profile<button mat-flat-button color="basic" style="float: right;" (click)="editProfile()">Edit Profile</button></h1>
                <p>Username: <b>{{ data.name }}</b></p>
                <p>Email: <b>{{ data.email }}</b></p>
                <p>Birthday: <b>{{ data.birthday }}</b></p>
                <h1>Favorite Movies: </h1>
                <div *ngIf= "user.FavoriteMovies.length === 0">
                    <p>No favorites.</p>
                </div>
            </div>
            <mat-list>
                <mat-list-item *ngFor= "let movie of favorites" style="height:auto">
                    <span matListItemTitle>{{movie.Title}}</span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>