<!DOCTYPE html>
<div class="profile-page">
    <div class="profile-container">
        <div class="info-container ">
            <div class="info">
                <h1>Profile<button mat-flat-button color="basic" style="float: right;" (click)="editProfile()">Edit Profile</button></h1>
                <p>Username: <b>{{ data.name }}</b></p>
                <p>Email: <b>{{ data.email }}</b></p>
                <p>Birthday: <b>{{ data.birthday }}</b></p>
                <h1>Favorite Movies: </h1>
                <div *ngIf= "user.FavoriteMovies.length === 0">
                    <p>No favorites.</p>
                </div>
            </div>
            <mat-list>
                <mat-list-item *ngFor= "let movie of favorites" style="height:auto">
                    <span matListItemTitle>{{movie.Title}}</span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>

  <!-- <mat-card>
      <mat-card-content>  
      <form>
      <h1>Update Profile</h1>
      <br>
              <mat-form-field class="user">
                  <mat-label> Username </mat-label>
                  <input matInput [(ngModel)]="userData.username" type="text" name="username">
              </mat-form-field>
      
              <mat-form-field class="pwd">
                  <mat-label>Password</mat-label>
                  <input matInput [(ngModel)]="userData.password" type="password" name="password"
                      required>
              </mat-form-field>
      
              <mat-form-field class="mail">
                  <mat-label>Email</mat-label>
                  <input matInput [(ngModel)]="userData.email" type="email" name="email">
              </mat-form-field>
      
              <mat-form-field class="bdy">
                  <mat-label>Birthday</mat-label>
                  <input matInput [(ngModel)]="userData.birth_date" type="date" name="birth_date">
              </mat-form-field>
      <br>
      <mat-card-actions class="action-btn">
         <button class="update-btn" mat-raised-button  (click)="updateUser()">
              Update
          </button>
          <span class="spacer"></span>
          <button class="delete-icon" mat-fab color="warn" (click)="deleteUser()">
              <mat-icon>delete</mat-icon>
          </button>
      </mat-card-actions>
  </form>
    </mat-card-content>
</mat-card> -->